<div class="container m-auto">
  <div class="py-4 font-medium text-2xl">Reporte de Cortes</div>
</div>
<mat-card>
  <mat-card-header>

  </mat-card-header>
  <mat-card-content class="">

    <div class="flex justify-center items-center sm:flex-row flex-col sm:justify-between">
      <div class="w-full mr-10">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Buscar</mat-label>
          <input
            matInput
            (keyup)="applyFilter($event)"
            placeholder="Filtrar por Nombre, Código, Manzana, Lote"
          />
        </mat-form-field>

      </div>

      <div class="flex gap-4">
        <button mat-raised-button color="primary" class="mb-4 w-48" (click)="openDialog()">
          <mat-icon>print</mat-icon> Imprimir Consumo
        </button>
      </div>
    </div>

    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- <ng-container matColumnDef="Anio">
        <th mat-header-cell *matHeaderCellDef>Año</th>
        <td mat-footer-cell>
          <input
            matInput
            placeholder="Filtrar"
            [(ngModel)]="filterAnio"
            (keyup)="applyFilter()"
          />
        </td>
        <td mat-cell *matCellDef="let element">{{ element.Anio }}</td>
      </ng-container> -->
      <ng-container matColumnDef="Meses">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Meses</th>
        <td mat-cell *matCellDef="let element">{{ element.meses }}</td>
      </ng-container>
      <ng-container matColumnDef="Nombre">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
      </ng-container>
      <ng-container matColumnDef="Codigo">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
      </ng-container>
      <ng-container matColumnDef="Manzana">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Manzana</th>
        <td mat-cell *matCellDef="let element">{{ element.Manzana }}</td>
      </ng-container>
      <ng-container matColumnDef="Lote">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Lote</th>
        <td mat-cell *matCellDef="let element">{{ element.Lote }}</td>
      </ng-container>

      <ng-container matColumnDef="Saldo">
        <th mat-sort-header mat-header-cell *matHeaderCellDef>Saldo</th>
        <td mat-cell *matCellDef="let element">{{ element.saldo | currency }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
  <br />
  <mat-card-footer>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </mat-card-footer>
</mat-card>
