.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.with-icon {
  font-size: 2.5rem;
}

.color-cutomer{
  background-color: #ef4f4c;
}

.color-meter{
  background-color: #2196f3;
}

.color-meter-repair{
  background-color: #009688;
}

.color-user{
  background-color: #3f51b5;
}

/* #ef4f4c, #2196f3, #009688, #3f51b5, #ffeb3b,#4caf50 */
