<div class="container m-auto">
  <div class="py-4 font-medium text-2xl ml-7">Registro de Multas</div>
  <div class="flex justify-between items-center">
    <button
      mat-button
      class="mx-7"
      [routerLink]="['/junta-de-angua/pages/fine']"
    >
      <mat-icon mat-list-icon>arrow_back</mat-icon> Regresar
    </button>
    <!--  Icono de agregar clientes-->
    <button
      mat-raised-button
      color="accent"
      class="w-48 mr-4"
      (click)="searchClients()"
    >
      <mat-icon>add</mat-icon> Agregar Clientes
    </button>
  </div>
  <!-- Icono de regresasr -->
</div>
<div class="app-sidenav-content">
  <mat-card>
    <mat-card-content class="dashboard-card-content m-4">
      <div class="mat-elevation-z2">
        <form [formGroup]="myForm">
          <div>
            <div class="bg-card h-8 rounded-t-lg text-6xl">
              <h3 class="text-center text-6xl m-20">Datos de la Multa</h3>
            </div>
            <div class="rounded">
              <div
                class="grid gap-4 mt-5 mx-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
              >
                <div>
                  <div>
                    <!-- Tipo de multa -->
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Tipo de multa</mat-label>
                      <select
                        matNativeControl
                        formControlName="typeFine"
                        (change)="onSelectionChange($event)"
                        required
                      >
                        <option value="" disabled selected>
                          Selecciona un tipo de multa
                        </option>
                        <ng-container *ngFor="let fine of fines">
                          <option [value]="fine.typeFine">
                            {{ fine.typeFine }}
                          </option>
                        </ng-container>
                      </select>
                    </mat-form-field>
                  </div>
                </div>

                <div>
                  <div>
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Valor a pagar</mat-label>
                      <input
                        class="diasbleinput"
                        matInput
                        autocomplete="off"
                        class="w-full"
                        type="number"
                        min="0"
                        step="0.01"
                        formControlName="cost"
                        placeholder="Valor a pagar"
                      />
                    </mat-form-field>
                  </div>
                </div>

                <div>
                  <div>
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Fecha de registro</mat-label>
                      <input
                        formControlName="date_fine"
                        matInput
                        [matDatepicker]="picker"
                        placeholder="Fecha de la multa"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-span-1 sm:col-span-2 md:col-span-3">
                  <div>
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Descripción de la multa (opcional)</mat-label>
                      <input
                        formControlName="descripcion"
                        matInput
                        placeholder="Descripción de la multa"
                      />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="clients.length > 0; else noClients">
            <div class="bg-card h-8 rounded-t-lg text-6xl">
              <h3 class="text-center text-6xl m-20">Lista de Clientes</h3>
            </div>
            <div class="w-full">
              <mat-form-field appearance="fill" class="w-full mr-72">
                <mat-label>Buscar</mat-label>
                <input
                  matInput
                  (keyup)="applyFilter($event)"
                  placeholder="Filtrar"
                />
              </mat-form-field>
            </div>
            <div class="rounded" class="mat-elevation-z8">
              <table matSort mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Nombre">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>
                    Nombre
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.Nombre }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Ruc">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>Ruc</th>
                  <td mat-cell *matCellDef="let element">{{ element.ruc }}</td>
                </ng-container>

                <!-- Manzana y lote -->
                <ng-container matColumnDef="Manzana">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>
                    Manzana
                  </th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.manzana }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="Lote">
                  <th mat-sort-header mat-header-cell *matHeaderCellDef>
                    Lote
                  </th>
                  <td mat-cell *matCellDef="let element">{{ element.lote }}</td>
                </ng-container>

                <!-- Acciones -->
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef style="width: 200px">
                    Selecionar
                  </th>

                  <td mat-cell *matCellDef="let element">
                    <!-- Eliminar Clietne -->
                    <button
                      mat-icon-button
                      color="warn"
                      (click)="onDeleteClient(element.idCliente)"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-card-footer>
                <mat-paginator
                  [pageSizeOptions]="[5, 8]"
                  showFirstLastButtons
                ></mat-paginator>
              </mat-card-footer>
            </div>

            <!-- Inputs para registrar una multa -->

            <div class="flex justify-center mt-5">
              <button
                mat-raised-button
                color="accent"
                class="w-full"
                (click)="createFineDetail()"
              >
                Registrar
              </button>
            </div>
          </div>

          <!-- Que diga no hay clientes sleccionados -->
          <ng-template #noClients>
            <h3 class="text-center text-6xl m-20 text-gray-500">
              No hay clientes seleccionados
            </h3>
          </ng-template>
        </form>
        <!-- Datos de la multa-->
      </div>
    </mat-card-content>
    <br />
  </mat-card>
</div>
