<div class="container m-auto">
  <div class="py-4 font-medium text-2xl ml-7">Registro de Multas</div>
</div>
<div class="app-sidenav-content">
  <mat-card>
    <mat-card-content class="dashboard-card-content m-4">
      <div class="mat-elevation-z2">
        <div>
          <div class="bg-card h-8 rounded-t-lg text-6xl">
            <h3 class="text-center text-6xl m-20">Datos del Cliente</h3>
          </div>
          <div class="rounded">
            <div
              class="grid gap-4 mt-5 mx-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
            >
              <div class="">
                <div class="flex gap-2 w-full justify-center">
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Nombre y apellidos</mat-label>
                    <input matInput placeholder="Nombre y apellidos" />

                    <!-- Agrega el icono aquí -->
                  </mat-form-field>
                  <div
                    class="bg-green-500 rounded h-14 t-lg text-6xl flex justify-center items-center"
                  >
                    <button mat-icon-button class="text-white bg-white">
                      <mat-icon>search</mat-icon>
                    </button>
                  </div>
                </div>
              </div>

              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Cedula</mat-label>
                  <input matInput />

                  <!-- Agrega el icono aquí -->
                </mat-form-field>
              </div>

              <div class="">
                <div>
                  <!-- Telefono -->
                  <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Telefono</mat-label>
                    <input matInput placeholder="Ex. 0987654321" />

                    <!-- Agrega el icono aquí -->
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <!-- Inputs para registrar una multa -->
          <div>
            <div class="bg-card h-8 rounded-t-lg text-6xl">
              <h3 class="text-center text-6xl m-20">Datos de la Multa</h3>
            </div>
            <div class="rounded">
              <div
                class="grid gap-4 mt-5 mx-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
              >
                <div class="col-span-1">
                  <div>
                    <!-- Tipo de multa -->
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Tipo de multa</mat-label>
                      <select matNativeControl required>
                        <option value="" disabled selected>
                          Selecciona un tipo de multa
                        </option>
                        <option value="Falta de asistencia">
                          Falta de asistencia
                        </option>
                        <option value="Cancelación tardía">
                          Cancelación tardía
                        </option>
                        <option value="Incumplimiento de normas">
                          Incumplimiento de normas
                        </option>
                        <!-- Puedes añadir más opciones según tus necesidades -->
                      </select>
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-span-1">
                  <div>
                    <!-- Descripción de la multa -->
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Descripción de la multa</mat-label>
                      <input matInput placeholder="Descripción de la multa" />
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-span-1">
                  <div>
                    <!-- Valor a pagar -->
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Valor a pagar</mat-label>
                      <input matInput placeholder="Valor a pagar" />
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="flex justify-center mt-5">
            <button mat-raised-button color="warn" class="w-full">
              Registrar
            </button>
          </div>
        </div>
        <!-- Datos de la multa-->
      </div>
    </mat-card-content>
    <br />
  </mat-card>
</div>
