<div class="flex justify-between items-center">
  <h1 mat-dialog-title>Buscar Cliente</h1>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="w- h-full">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="w-full min-w-max">
      <!-- Nombre y Apellidos Column -->
      <ng-container matColumnDef="Nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
      </ng-container>

      <ng-container matColumnDef="Ruc">
        <th mat-header-cell *matHeaderCellDef>Ruc</th>
        <td mat-cell *matCellDef="let element">{{ element.Ruc }}</td>
      </ng-container>

      <ng-container matColumnDef="Telefono">
        <th mat-header-cell *matHeaderCellDef>Telefono</th>
        <td mat-cell *matCellDef="let element">{{ element.Telefono }}</td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.Email }}</td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 200px">
          Selecionar
        </th>

        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="seleccionarCliente(element)"
          >
            <mat-icon>check</mat-icon>
          </button>
        </td>

      </ng-container>

      <!-- Define los campos a mostrar en la tabla -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Fila que se muestra cuando no hay datos coincidentes. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <!-- No hay datos que coincidan con el filtro "{{ input.value }}" -->
        </td>
      </tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5,8]"
      showFirstLastButtons
      aria-label="Seleccionar página de elementos periódicos"
    >
    </mat-paginator>
  </div>
</div>

