<h2 mat-dialog-title>{{ usuario.nombre }}</h2>
<mat-dialog-content>
  <form [formGroup]="formUsuario">
    <mat-grid-list cols="1" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="outline" class="w-full">
          <mat-label>Nombre y apellidos</mat-label>
          <input matInput placeholder="Nombre" formControlName="newName" />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Correo</mat-label>
          <input
            matInput
            autocomplete="off"
            formControlName="newEmail"
            class="w-full"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Contraseña Actual</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="oldPassword"
            autocomplete="off"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>

      <!-- Nueva contrasa -->
      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Nueva Contraseña</mat-label>
          <input
            matInput
            [type]="hide ? 'newPassword' : 'text'"
            formControlName="newPassword"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="hide ? 'Hide password' : 'Show password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>


    </mat-grid-list>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" (click)="updateUserInfo()">
    Actualizar
  </button>
</mat-dialog-actions>

<!-- <button mat-raised-button
color="primary"
[disabled]="formUsuario.invalid"
(click)="agregarEditarUsuario()">
{{accionBoton}}
</button> -->
