/* Agrega estos estilos a tu hoja de estilos CSS o al archivo de estilos de tu aplicación Angular */

/* Estilo cuando el input está enfocado */
table input:focus {
  border: 2px solid #007bff; /* Cambia el color y grosor del borde según tus preferencias */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Cambia el color y la intensidad de la sombra según tus preferencias */
  outline: none; /* Elimina el resaltado predeterminado del navegador */
}



table input:focus {
  border: 2px solid #007bff; /* Cambia el color y grosor del borde según tus preferencias */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Cambia el color y la intensidad de la sombra según tus preferencias */
  outline: none; /* Elimina el resaltado predeterminado del navegador */
}


input{
  border: 1px solid #ced4da; /* Cambia el color y grosor del borde según tus preferencias */
  width: 100%; /* Cambia el ancho del input según tus preferencias */
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



