<div class="container m-auto">
  <div class="py-4 font-medium text-2xl">Consumo</div>
</div>
<div class="app-sidenav-content">
  <mat-card>
    <mat-card-header>
      <div class="flex justify-between items-center">
        <mat-form-field appearance="fill">
          <mat-label>Buscar por Mes</mat-label>
          <mat-select
            [(ngModel)]="selectedMonth"
            (ngModelChange)="getMeasures()"
          >
            <mat-option value="1">Enero</mat-option>
            <mat-option value="2">Febrero</mat-option>
            <mat-option value="3">Marzo</mat-option>
            <mat-option value="4">Abril</mat-option>
            <mat-option value="5">Mayo</mat-option>
            <mat-option value="6">Junio</mat-option>
            <mat-option value="7">Julio</mat-option>
            <mat-option value="8">Agosto</mat-option>
            <mat-option value="9">Septiembre</mat-option>
            <mat-option value="10">Octubre</mat-option>
            <mat-option value="11">Noviembre</mat-option>
            <mat-option value="12">Diciembre</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex justify-between items-center mx-4">
        <mat-form-field appearance="fill">
          <mat-label>Buscar por Año</mat-label>
          <mat-select
            [(ngModel)]="selectedYear"
            (ngModelChange)="getMeasures()"
          >
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2023">2023</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-card-header>

    <mat-card-content>
      <div
        class="flex justify-center items-center sm:flex-row flex-col sm:justify-between"
      >
        <div class="w-full">
          <mat-form-field appearance="fill" class="w-full mr-72">
            <mat-label>Buscar</mat-label>
            <input
              matInput
              (keyup)="applyFilter($event)"
              placeholder="Filtrar"
            />
          </mat-form-field>
        </div>

        <div class="flex gap-4 ml-5">
          <button
            mat-raised-button
            color="accent"
            class="mb-4 w-48"
            (click)="actualizarMedidaAll()"
          >
            <mat-icon>add</mat-icon> Cargar Lecturas
          </button>
          <div class="flex justify-center items-center">
            <mat-spinner
              *ngIf="loadingPdf"
              style="margin-bottom: 16px; width: 192px; height: 50px"
            ></mat-spinner>
          </div>

          <button
            *ngIf="!loadingPdf"
            mat-raised-button
            color="primary"
            class="mb-4 w-48"
            (click)="openDialog()"
          >
            <mat-icon>print</mat-icon> Imprimir Consumo
          </button>
        </div>
      </div>

      <!-- <td mat-footer-cell *matFooterCellDef>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event, 'Manzana')" placeholder="Filtrar por Manzana">
      </mat-form-field>
    </td> -->

      <table
        matSort
        mat-table
        [dataSource]="dataSource"
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="Nombre">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.Nombre }}</td>
        </ng-container>
        <ng-container matColumnDef="Codigo">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element">{{ element.Codigo }}</td>
        </ng-container>
        <ng-container matColumnDef="Manzana">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Manzana</th>
          <td mat-cell *matCellDef="let element">{{ element.Manzana }}</td>
        </ng-container>
        <ng-container matColumnDef="Lote">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Lote</th>
          <td mat-cell *matCellDef="let element">{{ element.Lote }}</td>
        </ng-container>
        <ng-container matColumnDef="LecturaAnterior">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Lectura Anterior
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.LecturaAnterior }}
          </td>
        </ng-container>
        <ng-container matColumnDef="LecturaActual">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>
            Lectura Actual
          </th>
          <td mat-cell *matCellDef="let element">
            <!-- <label class="switch"> Lectura Actual</label> -->

            <!-- [disabled]="element.Mes !== currentMonth || element.Anio !== currentYear" -->
            <input
              type="number"
              (keydown.tab)="
                updateLecturaActual(
                  element.Anio,
                  element.Mes,
                  element.LecturaAnterior,
                  element.LecturaActual,
                  element.idCliente,
                  element.Codigo,
                  element.Basico,
                  element.Acumulado,
                  element
                )
              "
              class="peer block min-h-[auto] w-full rounded border-0 bg-transparent px-3 py-[0.32rem] leading-[1.6] outline-none transition-all duration-200 ease-linear focus:placeholder:opacity-100 peer-focus:text-primary data-[te-input-state-active]:placeholder:opacity-100 motion-reduce:transition-none dark:text-neutral-700 dark:placeholder:text-neutral-200 dark:peer-focus:text-primary [&:not([data-te-input-placeholder-active])]:placeholder:opacity-0"
              id="exampleFormControlInputNumber"
              [(ngModel)]="element.LecturaActual"
              placeholder="Example label"
            />
            <label
              for="exampleFormControlInputNumber"
              class="pointer-events-none absolute left-3 top-0 mb-0 max-w-[90%] origin-[0_0] truncate pt-[0.37rem] leading-[1.6] text-neutral-500 transition-all duration-200 ease-out peer-focus:-translate-y-[0.9rem] peer-focus:scale-[0.8] peer-focus:text-primary peer-data-[te-input-state-active]:-translate-y-[0.9rem] peer-data-[te-input-state-active]:scale-[0.8] motion-reduce:transition-none dark:text-neutral-200 dark:peer-focus:text-primary"
            >
            </label>
          </td>
        </ng-container>
        <ng-container matColumnDef="Basico">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Básico</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Basico | currency }}
          </td>
        </ng-container>
        <!-- <ng-container matColumnDef="Pago">
          <th mat-header-cell *matHeaderCellDef>Pago</th>
          <td mat-cell *matCellDef="let element">{{ element.Pago }}</td>
        </ng-container> -->

        <ng-container matColumnDef="Excedente">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Excedente</th>
          <td mat-cell *matCellDef="let element">{{ element.Excedente }}</td>
        </ng-container>

        <ng-container matColumnDef="Total">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Total</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Total | currency }}
          </td>
        </ng-container>
        <ng-container matColumnDef="Saldo">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Saldo</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Saldo | currency }}
          </td>
        </ng-container>
        <!-- acciones de editar, imprimir y eliminar -->
        <!-- <ng-container matColumnDef="Acumulado">
          <th mat-sort-header mat-header-cell *matHeaderCellDef>Acumulado</th>
          <td mat-cell *matCellDef="let element">
            {{ element.Acumulado | currency }}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="text-center">
            <div class="flex justify-center">Acciones</div>
          </th>

          <td *matCellDef="let element" class="flex justify-around">
            <button mat-icon-button color="primary" tabindex="-1" (click)="editMeasure(element.idCliente, element.idMedida)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="accent" tabindex="-1">
              <mat-icon>print</mat-icon>
            </button>
            <button mat-icon-button color="warn" tabindex="-1">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </mat-card-content>
    <br />
    <mat-card-footer>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </mat-card-footer>
  </mat-card>
</div>
