<div class="container m-auto">
  <div class="py-4 font-medium text-2xl ml-7">Multas</div>
</div>
<div class="app-sidenav-content">
  <mat-card>
    <mat-card-title>
      <button
        mat-raised-button
        color="primary"
        class="mx-7 my-5"
        [routerLink]="['/junta-de-angua/pages/addfine']"
        [queryParams]="{ id: 0 }"
      >
        <mat-icon mat-list-icon>add</mat-icon> Registrar Multa
      </button>
    </mat-card-title>
    <hr class="mx-7" />

    <mat-card-content class="dashboard-card-content m-4">
      <mat-form-field appearance="fill" class="w-full">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Mia"
          #input
        />
      </mat-form-field>

      <div class="mat-elevation-z2">
        <table matSort mat-table [dataSource]="dataSource">
          <!-- Position Column -->

          <ng-container matColumnDef="nombre">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
          </ng-container>

          <ng-container matColumnDef="codigo">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
          </ng-container>

          <ng-container matColumnDef="manzana">
            <th mat-header-cell *matHeaderCellDef>Manzana</th>
            <td mat-cell *matCellDef="let element">{{ element.manzana }}</td>
          </ng-container>

          <ng-container matColumnDef="lote">
            <th mat-header-cell *matHeaderCellDef>Lote</th>
            <td mat-cell *matCellDef="let element">
              {{ element.lote }}
            </td>
          </ng-container>

          <ng-container matColumnDef="cantidadMultas">
            <th mat-sort-header mat-header-cell *matHeaderCellDef>
              Total Multas
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element.cantidadMultas }}
            </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef style="width: 200px">
              Acciones
            </th>
            <td mat-cell *matCellDef="let element">
              <button
                mat-icon-button
                color="primary"
                [routerLink]="[
                  '/junta-de-angua/pages/calculate-total-amount',
                  element.idCliente
                ]"
              >
                <mat-icon>visibility</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">
              No data matching the filter "{{ input.value }}"
            </td>
          </tr>
        </table>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 20, 50, 100, 200]"
          showFirstLastButtons
          aria-label="Select page of periodic elements"
        >
        </mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>
