<!--

   public myForm: FormGroup = this.fb.group({
    nombre: ['', [Validators.required]],
    ruc: ['', [Validators.required]],
    telefono: ['', [Validators.required]],

    email: ['', [Validators.required, Validators.email]],
    idPais: ['', [Validators.required]],
    idCiudad: ['', [Validators.required]],
    direccion: ['', []],

    fechaNacimiento: ['', [Validators.required]],
    fechaIngreso: ['', [Validators.required]],
    fechaCaducidad: ['', [Validators.required]],

    idTipoRuc: ['', [Validators.required]],
    hombre: [false, [Validators.required]],
    ja_discapacidad: [false, [Validators.required]],
    ja_terceraEdad: [false, [Validators.required]],
    estadoCivil: ['', [Validators.required]],
  });
 -->
<div class="container m-auto">
  <div class="py-4 font-medium text-2xl ml-7">Registro de Cliente</div>
  <div class="flex justify-start items-center">
    <button
      mat-button
      class="mx-7"
      [routerLink]="['/junta-de-angua/pages/cutomers']"
    >
      <mat-icon mat-list-icon>arrow_back</mat-icon> Regresar
    </button>
  </div>
  <!-- Icono de regresasr -->
</div>
<div class="app-sidenav-content">
  <mat-card>
    <mat-card-content class="dashboard-card-content m-4">
      <div class="mat-elevation-z2">
        <form [formGroup]="myForm">
          <div class="bg-card h-8 rounded-t-lg text-6xl">
            <h3 class="text-center text-6xl m-20">Datos del Cliente</h3>
          </div>
          <div class="rounded">
            <div
              class="grid gap-4 mt-5 mx-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3"
            >
              <div class="flex gap-2 w-full justify-center">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Nombre y apellidos</mat-label>
                  <input
                    matInput
                    placeholder="Nombre y apellidos"
                    formControlName="nombre"
                  />
                </mat-form-field>
              </div>

              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>RUC/C.I</mat-label>
                  <input matInput formControlName="ruc" />
                </mat-form-field>
              </div>
              <!-- Telefono -->
              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Telefono</mat-label>
                  <input
                    matInput
                    placeholder="Ex. 0987654321"
                    formControlName="telefono"
                  />
                </mat-form-field>
              </div>

              <!-- Correo -->
              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Correo</mat-label>
                  <input
                    matInput
                    type="email"
                    placeholder="Ex. ejemplo@gmail.com"
                    formControlName="email"
                  />
                </mat-form-field>
              </div>

              <!-- Select Pais -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Pais</mat-label>
                <mat-select formControlName="idPais">
                  <ng-container *ngFor="let pais of clientPaiss">
                    <mat-option [value]="pais.idClientePais">{{
                      pais.Pais
                    }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              <!-- Select Pais -->
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="idCiudad">
                  <ng-container *ngFor="let ciudad of clientCiudads">
                    <mat-option [value]="ciudad.idCiudad">{{
                      ciudad.Ciudad
                    }}</mat-option>
                  </ng-container>
                </mat-select>
              </mat-form-field>

              <!-- Direccion -->
              <div class="col-span-1 sm:col-span-3">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Direccion</mat-label>
                  <input
                    matInput
                    placeholder="Ex. Av. 9 de Octubre"
                    formControlName="direccion"
                  />
                </mat-form-field>
              </div>

              <!-- Tipo Ruc, Select, Exportación, Tarjeta de identidad,  Cédula de extranjería -->

              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Fecha de nacimiento</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker1"
                    formControlName="fechaNacimiento"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker1"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Fecha de ingreso</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker2"
                    formControlName="fechaIngreso"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="">
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Vencimiento</mat-label>
                  <input
                    matInput
                    [matDatepicker]="picker3"
                    formControlName="fechaCaducidad"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker3"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
              </div>

              <div
                class="grid grid-cols-1 sm:grid-cols-5 w-full col-span-1 sm:col-span-3 gap-4"
              >
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Tipo de ruc</mat-label>
                  <mat-select formControlName="idTipoRuc">
                    <ng-container *ngFor="let tipoRuc of clientTipoRucs">
                      <mat-option [value]="tipoRuc.idTipoRuc">{{
                        tipoRuc.TipoRuc
                      }}</mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
                <!-- Hombre o mujer -->
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Genero</mat-label>
                  <mat-select formControlName="hombre">
                    <mat-option value="H">Hombre</mat-option>
                    <mat-option value="M">Mujer</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Estado Civil -->
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Estado Civil</mat-label>
                  <mat-select formControlName="estadoCivil">
                    <mat-option value="S">Soltero</mat-option>
                    <mat-option value="C">Casado</mat-option>
                    <mat-option value="D">Divorciado</mat-option>
                    <mat-option value="V">Viudo</mat-option>
                  </mat-select>
                </mat-form-field>

                <!-- Discapasitado  -->
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Discapasitado</mat-label>
                  <mat-select formControlName="ja_discapacidad">
                    <mat-option value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Tercera edad</mat-label>
                  <mat-select formControlName="ja_terceraEdad">
                    <mat-option value="1">Si</mat-option>
                    <mat-option value="0">No</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- Inputs para registrar una multa -->
          <div class="flex justify-center mt-5">
            <button
              mat-raised-button
              style="background-color: #009688; color: #fff"
              class="w-full"
              (click)="onFormSubmit()"
            >
              Registrar Cliente
            </button>
          </div>
        </form>
        <!-- Datos de la multa-->
      </div>
    </mat-card-content>
    <br />
  </mat-card>
</div>
