<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
    <mat-icon>menu</mat-icon>
  </button>
  <!-- logo imagen -->
  <img [src]="company.imagenUrl" alt="logo" class="logo" class="w-12 h-10" />
  <span>{{ company.nombreEmpresa }} </span>
  <span class="toolbar-item-spacer"></span>
  <button
    mat-icon-button
    matTooltip="My Account"
    [matMenuTriggerFor]="userAccountMenu"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #userAccountMenu [overlapTrigger]="false" yPosition="below">
    <button
      mat-menu-item
      *ngIf="usuario.role !== 'USER_ROLE'"
      (click)="remplaceLink('company')"
    >
      <mat-icon>person</mat-icon><span>Mi Perfil.</span>
    </button>

    <!-- Si usuario.role es USER_ROLE no tenga la opcion de  Configuración-->

    <button
      mat-menu-item
      *ngIf="usuario.role !== 'USER_ROLE'"
      (click)="remplaceLink('company')"
    >
      <mat-icon>settings</mat-icon><span>Configuración</span>
    </button>

    <mat-divider></mat-divider>
    <button mat-menu-item routerLink="#" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon><span>Salir</span>
    </button>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [class.mat-elevation-z4]="true"
    class="app-sidenav"
  >
    <mat-nav-list>
      <mat-list-item routerLink="pages/dashboard">
        <div class="flex items-center gap-4">
          <mat-icon>dashboard</mat-icon><span>Dashboard</span>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="pages/usuario">
        <div class="flex items-center gap-4">
          <mat-icon>group</mat-icon><span>Usuarios</span>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="pages/cutomers">
        <div class="flex items-center gap-4">
          <mat-icon>groups</mat-icon><span>Clientes</span>
        </div>
      </mat-list-item>

      <mat-list-item routerLink="pages/add-extent">
        <div class="flex items-center gap-4">
          <mat-icon>bar_chart</mat-icon><span>Medidas</span>
        </div>
      </mat-list-item>

      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header> Multas </mat-expansion-panel-header>
        <mat-nav-list class="flex items-center">
          <a mat-list-item routerLink="pages/fine">Registrar Multa</a>
          <a mat-list-item routerLink="pages/register-fine">Multas</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header> Reportes </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="pages/service-expense">Cortes</a>
          <a mat-list-item routerLink="pages/meter">Medidores </a>
        </mat-nav-list>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container m-auto">
      <router-outlet> </router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
