<div class="container m-auto">
  <div class="py-4 font-medium text-2xl">Dashboard</div>
</div>
<div class="app-sidenav-content">
  <mat-card class="h-4/5">
    <mat-card-title> </mat-card-title>
    <hr class="mx-7" />

    <mat-card-content class="m-4 contenedor">
      <form [formGroup]="filtroForm">
        <div class="content-totales">
          <div class="title-general">
            <h1>Recaudación general a partir del 2023</h1>
            <hr>
            <br>

            <div class="filter-title">
              <div>
                <mat-form-field class="w-full">
                  <mat-label>Nombre del cliente</mat-label>
                  <input matInput placeholder="Nombre" formControlName="nombre">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="w-full">
                  <mat-label>RUC del cliente</mat-label>
                  <input matInput placeholder="RUC" formControlName="ruc">
                </mat-form-field>
              </div>
            </div>

            <div class="content-filtro">
              <div>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Año</mat-label>
                  <mat-select formControlName="anio">
                    <mat-option value="TODOS">TODOS</mat-option>
                    <mat-option *ngFor="let anio of anios" [value]="anio">{{ anio }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Mes</mat-label>
                  <mat-select formControlName="mes">
                    <mat-option value="TODOS">TODOS</mat-option>
                    <mat-option *ngFor="let mes of meses" [value]="mes.id">{{ mes.nombre }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Lote</mat-label>
                  <mat-select formControlName="lote">
                    <mat-option value="TODOS">TODOS</mat-option>
                    <mat-option *ngFor="let lote of lotes" [value]="lote">{{ lote }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field appearance="outline" class="w-full">
                  <mat-label>Manzana</mat-label>
                  <mat-select formControlName="manzana">
                    <mat-option value="TODOS">TODOS</mat-option>
                    <mat-option *ngFor="let manzana of manzanas" [value]="manzana">{{ manzana }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            </div>
          </div>


          <div class="cards">
            <div class="card card-money">
              <div class="icon-card">
                <img src="{{ money_icon }}">
              </div>
              <div class="text-card">
                <div class="title">Total</div>
                <div class="totales">
                  <div>
                    <div class="subtitle">Estimado</div>
                    <div class="value">${{ total_estimado }}</div>
                  </div>
                  <div>
                    <div class="subtitle">Recaudado</div>
                    <div class="value">${{ total_recaudado }}</div>
                  </div>
                  <div>
                    <div class="subtitle">Pendiente</div>
                    <div class="value">${{ total_pendiente }}</div>
                  </div>
                </div>
              </div>

            </div>

            <div class="contenedor_card2">
              <div class="card card-totalReal">
                <div class="icon-card">
                  <img src="{{ totalReal_icon }}">
                </div>
                <div class="text-card">
                  <div class="title">Total Real</div>
                  <div class="totales2">
                    <div>
                      <div class="subtitle">Estimado</div>
                      <div class="value">${{ total_real }}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card card-exedente">
                <div class="icon-card">
                  <img src="{{ exedente_icon }}">
                </div>
                <div class="text-card">
                  <div class="title">Excedente</div>
                  <div class="totales2">
                    <div>
                      <div class="subtitle">Estimado</div>
                      <div class="value">${{ excedente_estimado }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-water">
              <div class="icon-card">
                <img src="{{ water_icon }}">
              </div>
              <div class="text-card">
                <div class="title">Agua</div>
                <div class="totales2">
                  <div>
                    <div class="subtitle">Estimado</div>
                    <div class="value">${{ agua_estimado }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card card-sewer">
              <div class="icon-card">
                <img src="{{ sewer_icon }}">
              </div>
              <div class="text-card">
                <div class="title">Alcantarillado</div>
                <div class="totales2">
                  <div>
                    <div class="subtitle">Estimado</div>
                    <div class="value">${{ alcantarillado_estimado }}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>

      <hr>

      <div class="content-cards">

        <button (click)="changeSection('clients')" class="card card-customer">
          <div class="icon-card">
            <img src="{{ customer_icon }}">
          </div>
          <div class="text-card">
            <div class="title">Clientes</div>
            <div class="value">{{count_clients}}</div>
          </div>
        </button>

        <button (click)="changeSection('meter')" class="card card-meter">
          <div class="icon-card">
            <img src="{{ meter_icon }}">
          </div>
          <div class="text-card">
            <div class="title">Medidores</div>
            <div class="value">{{count_meters}}</div>
          </div>
        </button>

        <button (click)="changeSection('repair-meter')" class="card card-fine">
          <div class="icon-card">
            <img src="{{ fine_icon }}">
          </div>
          <div class="text-card">
            <div class="title">Multas</div>
            <div class="value">{{count_fade}}</div>
          </div>
        </button>

        <button (click)="changeSection('user')" class="card card-user">
          <div class="icon-card">
            <img src="{{ user_icon }}">
          </div>
          <div class="text-card">
            <div class="title">Usuarios</div>
            <div class="value">{{count_users}}</div>
          </div>
        </button>

      </div>

      <div class="w-full my-10">
        <div *ngIf="activeSection === 'clients'">
          <app-clients></app-clients>
        </div>

        <div *ngIf="activeSection === 'meter'">
          <app-meter></app-meter>
        </div>

        <div *ngIf="activeSection === 'repair-meter'">
          <app-meditions></app-meditions>
        </div>

        <div *ngIf="activeSection === 'user'">
          <app-users></app-users>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>
