/* Agrega estos estilos a tu hoja de estilos CSS o al archivo de estilos de tu aplicación Angular */

.border-button {
  border: 2px solid;
}
.center {
  display: flex;

  justify-content: center;
  align-items: center;

}


/* +++++++ STYLES +++++++ */

.inner {
  background: green;
  color: white;
  padding: 12px;
}
